Alexander Schalk
SDEV 220 - Evan Mitchell
Module 4 Programming Assignment
04/15/2024

11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [9]:
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [10]:
from zoo import hours
hours()

#Yes, I know these aren't from the intepreter, but I hope this is alright

Open 9-5 daily

16.4 Use the sqlite3 module to create a SQLite database called books.db and a table called books with these fields: title (text), author (text), and year (integer).

In [11]:
import sqlite3
connection = sqlite3.connect('books.db') #Create database and establish connection
cursor = connection.cursor() #Query management
cursor.execute('''CREATE TABLE books (title VARCHAR(30) PRIMARY KEY, author VARCHAR(30), year INT)''')

OperationalError: table books already exists

In [12]:
data = [('The Weirdstone of Brisingamen','Alan Garner',1960), ('Perdido Street Station','China Mi√©ville',2000), ('Thud!','Terry Pratchett',2005), ('The Spellman Files','Lisa Lutz',2007), ('Small Gods','Terry Pratchett',1992)]
for d in data: 
    command = (f'INSERT INTO books VALUES("{d[0]}","{d[1]}",{d[2]})')
    cursor.execute(command)
connection.commit()

16.8 Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [19]:
import sqlalchemy as sa

engine = sa.create_engine("sqlite:///books.db")
conn = engine.connect()
query = sa.text('SELECT title FROM books')
rows =conn.execute(query).fetchall()
titles = [i[0] for i in rows] # Change tuples to strings
titles.sort() #Sort alphabetically 
print(titles)

['Perdido Street Station', 'Small Gods', 'The Spellman Files', 'The Weirdstone of Brisingamen', 'Thud!']